<% # コンテナ %>
<div class='container'>
  <% # ヘッダー %>
  <%= render :partial => 'shared/common_header' %>
  <div class='error-page'>
    <div class='title'>
      エラー発生
    </div>
    <div class='message'>
      エラーが発生しました。<br>
      お手数ですが、ログインしなおしてください。<br>
      <div class='logout'>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><br>
      </div>
      ご迷惑をおかけして申し訳ありません。<br>
    </div>
  </div>
  <% # フッター %>
  <%= render :partial => 'shared/common_footer' %>
</div>

