  <div class="about-dialog dialog" id='about-dialog'>
    <div id='about-dialog-post-form'>
      <div id="about-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        このサイトについて
      </div>
      <div class="body">
        <p class="overview">このサイトは、キッズ（0～6歳位）が喋る面白いことばを、記録・共有して楽しむサイトです。</p>
        <p>子供がまだ小さいときは舌っ足らずで、「いただきまちゅ」とか「おほちちゃま」などサ行が苦手だったりします。</p>
        <p>また、彼ら(彼女ら)は耳で言葉を覚えるので、たまに間違えたりします。「乾杯」を「ぱんかい」と言ったり「粘土」を「めんど」と言ったり。。。</p>
        <p>時には大人が想像もつかないような表現をして、大爆笑を巻き起こすこともw</p>
        <p>しかし悲しいことに、そんなに魅力的な「ことば」を、聞いた大人たちはいつまでも覚えてません。やがて忘れてしまいます。。</p>
        <p>「もったいない！フォトアルバムのようにいつまでも取っておければ。。。」</p>
        <p>そんな考えでこのサイトを作りました。</p>
        <p>写真やホームビデオのように、「キッズのことば」も記録してみてはいかがでしょうか。</p>
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg" id="about-dialog-close-button">　閉じる　</button>
      </div>
    </div>
  </div>


