  <div class='edit-complete dialog' id='edit-complete'>
    <div id='edit-complete-message'>
      <div id="edit-complete-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        変更完了
      </div>
      <div class="message">
        内容の変更が完了しました。
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg" id="edit-complete-return">　戻る　</button>
      </div>
    </div>
  </div>


