  <div class="inquiry-dialog dialog" id='inquiry-dialog'>
    <div id='inquiry-dialog-post-form'>
      <div id="inquiry-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        <div id="inquiry-dialog-input-title">お問い合わせ</div>
      </div>
      <div class="error-message" id="inquiry-dialog-error-message">
      </div>
      <div class="form-group">
        <label for="inquiry-dialog-input-kind">種別</label>
        <select name="kind_id" id="inquiry-dialog-input-kind">
        </select>
      </div>
      <div class="form-group">
        <label for="inquiry-dialog-input-body">内容</label>
        <textarea name="body" id="inquiry-dialog-input-body" rows="3" cols="25"></textarea>
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg btn-block" id="inquiry-dialog-post-submit">送信する</button>
      </div>
    </div>
  </div>


