  <div class="login-dialog dialog" id='login-dialog'>
    <div id="login-dialog-please-login">
      <div id="login-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        <div>ログイン</div>
      </div>
      <div class="message">
        <!-- 今のところtwitterログインのみなので、特に選択させずに直接遷移 -->
      </div>
    </div>
  </div>


