  <div class='menu-dialog dialog' id='menu-dialog'>
    <div>
      <div id="menu-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <%= render :partial => 'shared/menu' %>
    </div>
  </div>
