  <div class='nickname-dialog dialog' id='nickname-dialog'>
    <div id='nickname-dialog-form'>
      <div class="title">
        <div>ニックネーム登録</div>
      </div>
      <div class="message">
        <div>ニックネームの登録をお願いします。</div>
      </div>
      <div class="error-message" id="nickname-dialog-error-message">
      </div>
      <div class="form-group">
        <label for="nickname-dialog-nickname">ニックネーム</label>
        <input type="text" name="nickname" id="nickname-dialog-input-nickname" maxlength="16">
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg btn-block" id="nickname-dialog-submit">登録する</button>
      </div>
    </div>
  </div>
