  <div class='post-complete dialog' id='post-complete'>
    <div id='post-complete-message'>
      <div id="post-complete-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        投稿ありがとうございました！
      </div>
      <div class="message">
        投稿していただきました内容は、管理人によるチェックをし次第、サイトに掲載させていただきます。<br>
        お子様の「これ面白い！」「これかわいい！」といった言葉を発見されましたら、また投稿していただけると幸いです。
      </div>
      <div class="ojigi">
        <%= image_tag "ojigi.png" %>
      </div>
      <div class="sns-title">
        投稿したことを・・・
      </div>
      <div class="sns-row">
        <div class="sns-block sns-line">
          友達に知らせる<br>
          <a href="http://line.me/R/msg/text/?%E6%8A%95%E7%A8%BF%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%0D%0A%E3%80%8C%E3%81%B6%E3%82%89%E3%81%B6%E3%82%89%E3%81%A1%E3%82%87%E3%80%8D%0D%0A%EF%BC%88%E8%A8%B3%EF%BC%9A%E3%83%96%E3%83%A9%E3%83%96%E3%83%A9%E3%81%97%E3%82%88%E3%81%86%EF%BC%89%0D%0Ahttps%3A%2F%2Fbabywords.makedara.net%2F">
            <%= image_tag "sns_line.png" %>
          </a>	
        </div>
        <div class="sns-block sns-twitter">
          みんなに知らせる<br>
          <a href="https://twitter.com/share?url=https%3A%2F%2Fbabywords.makedara.net%2F&dnt=true&hashtags=%E8%82%B2%E5%85%90%2C%E5%AD%90%E8%82%B2%E3%81%A6&text=%E6%8A%95%E7%A8%BF%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81%0D%0A%E3%80%8C%E3%81%B6%E3%82%89%E3%81%B6%E3%82%89%E3%81%A1%E3%82%87%E3%80%8D%0D%0A%EF%BC%88%E8%A8%B3%EF%BC%9A%E3%83%96%E3%83%A9%E3%83%96%E3%83%A9%E3%81%97%E3%82%88%E3%81%86%EF%BC%89%0D%0A">
            <%= image_tag "sns_twitter.png" %>
          </a>	
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg" id="post-complete-return">　戻る　</button>
      </div>
    </div>
  </div>


