  <div class="post-dialog dialog" id='post-dialog'>
    <div id='post-dialog-post-form'>
      <div id="post-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div class="title">
        <div id="post-dialog-input-title">ことば投稿</div>
      </div>
      <div class="message" id="post-dialog-message">
      </div>
      <div class="error-message" id="post-dialog-error-message">
      </div>
      <div class="form-group">
        <div class="nickname-value">投稿者様のニックネーム：<span id="post-dialog-nickname"></span>さん</div>
      </div>
      <div class="form-group">
        <label for="post-dialog-input-age-year">ことば使用時のお子様のご年齢</label>
        <select name="form-age-year" id="post-dialog-input-age-year">
          <option label="0" value="0">0</option>
          <option label="1" value="1">1</option>
          <option label="2" value="2">2</option>
          <option label="3" value="3">3</option>
          <option label="4" value="4">4</option>
          <option label="5" value="5">5</option>
        </select>
        歳
        <select name="form-age-month" id="post-dialog-input-age-month">
          <option label="1" value="1">1</option>
          <option label="2" value="2">2</option>
          <option label="3" value="3">3</option>
          <option label="4" value="4">4</option>
          <option label="5" value="5">5</option>
          <option label="6" value="6">6</option>
          <option label="7" value="7">7</option>
          <option label="8" value="8">8</option>
          <option label="9" value="9">9</option>
          <option label="10" value="10">10</option>
          <option label="11" value="11">11</option>
          <option label="12" value="12">12</option>
          <option label="不明" value="99">不明</option>
        </select>
        ヵ月
      </div>
      <div class="form-group">
        <label for="form-gender">お子様の性別</label>
        <input type="radio" name="gender" value="m" id="post-dialog-input-gender-m"><label for="post-dialog-input-gender-m">男の子</label>
        <input type="radio" name="gender" value="f" id="post-dialog-input-gender-f"><label for="post-dialog-input-gender-f">女の子</label>
      </div>
      <div class="form-group">
        <label for="post-dialog-input-word">ことば</label>
        <input type="text" name="word" id="post-dialog-input-word" maxlength="16" placeholder="ひらがなでお願いします">
      </div>
      <div class="form-group">
        <label for="post-dialog-input-translate">大人語訳</label>
        <input type="text" name="translate" id="post-dialog-input-translate" maxlength="16">
      </div>
      <div class="form-group">
        <label for="post-dialog-input-comment">ことばの解説（必要であれば）</label>
        <textarea name="comment" id="post-dialog-input-comment" rows="3" cols="25"></textarea>
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg btn-block" id="post-dialog-edit-submit">変更する</button>
        <button class="btn btn-default btn-lg btn-block" id="post-dialog-post-submit">送信する</button>
        <button class="btn btn-default btn-lg btn-block" id="post-dialog-input-return">　戻る　</button>
      </div>
    </div>
  </div>


