  <div class='report-dialog dialog' id='report-dialog'>
    <div id='report-dialog-form'>
      <div class="title">
        <div>通報</div>
      </div>
      <div class="message">
        次のような投稿の場合、通報をお願い致します。
        <ul>
          <li>公序良俗に反する表現</li>
          <li>キッズのことばと無関係な内容</li>
          <li>その他、ここにふさわしくないと思われる投稿</li>
        </ul>
      </div>
      <div class="buttons-message">
        この投稿を・・・
      </div>
      <div class="buttons">
        <button class="btn btn-default btn-lg btn-block" id="report-dialog-submit">通報する</button>
        <button class="btn btn-default btn-lg btn-block" id="report-dialog-cancel">やっぱりやめる</button>
      </div>
    </div>
  </div>
