<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
<% # コンテナ %>
<div class='container'>
  <% # ヘッダー %>
  <%= render :partial => 'shared/common_header' %>
  <div class='blocks'>
    <% # 左ブロック %>
    <div class='menu-block' id='menu-block'>
      <%= render :partial => 'shared/menu' %>
    </div>

    <% # メインブロック %>
    <div class='main-block' id='main-block'>
      <div class="babyword" id="main-block-babyword"></div>
      <div class="author"><span id="main-block-author"></span>さん投稿</div>
      <div class="word-link">
        <span class="link" id="main-block-edit">編集</span>
        <span class="link" id="main-block-report">通報</span>
      </div>
      <div class="age-gendar">
        <span class="age-year" id="main-block-age-year"></span>歳<span class="age-month" id="main-block-age-month"></span>ヵ月
        <span class="gendar" id="main-block-gendar"></span>
      </div>
      <div class="translate">訳：<span id="main-block-translate"></span></div>
      <div class="comment" id="main-block-comment"></div>
      <div class="main-buttons">
        <div class="paging-buttons">
          <button class="btn btn-default btn-lg btn-block" id="main-block-first">&lt;&lt;</button>
          <button class="btn btn-default btn-lg btn-block" id="main-block-prev">&lt;</button>
          <button class="btn btn-default btn-lg btn-block" id="main-block-next">&gt;</button>
          <button class="btn btn-default btn-lg btn-block" id="main-block-last">&gt;&gt;</button>
        </div>
        <button class="btn btn-default btn-lg btn-block" id="main-block-post-word">私も投稿する！</button>
      </div>
    </div>

    <% # 右ブロック %>
    <div class='info-block'>
      <div class="affiliate-title">管理人おすすめグッズ</div>
      <div class="affiliate">アフィリエイト</div>
    </div>
  </div>
  <% # フッター %>
  <%= render :partial => 'shared/common_footer' %>

  <% # メニューダイアログ %>
  <%= render :partial => 'menu_dialog' %>

  <% # ニックネーム登録ダイアログ %>
  <%= render :partial => 'nickname_dialog' %>

  <% # 通報ダイアログ %>
  <%= render :partial => 'report_dialog' %>

  <% # 問い合わせダイアログ %>
  <%= render :partial => 'inquiry_dialog' %>

  <% # このサイトについてダイアログ %>
  <%= render :partial => 'about_dialog' %>

  <% # 投稿ダイアログ %>
  <%= render :partial => 'post_dialog' %>

  <% # 投稿完了 %>
  <%= render :partial => 'post_complete' %>

  <% # 変更完了 %>
  <%= render :partial => 'edit_complete' %>

  <% # ログインダイアログ %>
  <%= render :partial => 'login_dialog' %>

  <% # 読み込み中ダイアログ %>
  <%= render :partial => 'progress_dialog' %>

  <% # 利用規約ダイアログ %>
  <%= render :partial => 'agreement_dialog' %>

  <% # 汎用ダイアログ %>
  <%= render :partial => 'shared/common_dialog' %>
</div>
<% # コンテナここまで %>
