  <div class="dialog" id="common-dialog">
    <div>
      <div id="common-dialog-close-icon" class="close-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
      <div id="common-dialog-title" class="title"></div>
      <div id="common-dialog-message" class="message"></div>
    </div>
  </div>
