  <script type="text/javascript">
  //<![CDATA[
  // ruby→javascriptへの値受け渡しはココで
  Www.const.tag_logout = '<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>';
  Www.const.tag_login = '<%= link_to 'ログイン', user_twitter_omniauth_authorize_path %>';
  Www.const.url_logout = '<%= destroy_user_session_path %>';
  Www.const.url_login = '<%= user_twitter_omniauth_authorize_path %>';
  //]]>
  </script>
  <div class="header" id="header">
    <div class="header-left">
      <%= image_tag "menu.svg", :class => "menu-icon", :id => "header-menu-icon" %>
    </div>
    <div class="header-middle">
      キッズのことば
    </div>
    <div class="header-right">
      <%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, id: "header-to-logout", style: "display:none" } %>
      <a href="#" id="header-to-login" style="display: none">ログイン</a>
    </div>
  </div>

