  <div class="menu">
    <div class="about">
      <i class="fa fa-exclamation-circle" aria-hclassden="true"></i>このサイトについて
    </div>
    <div class="agreement">
      <i class="fa fa-handshake-o" aria-hclassden="true"></i>利用規約
    </div>
    <div class="inquiry">
      <i class="fa fa-envelope-o" aria-hclassden="true"></i>問い合わせ
    </div>
  </div>
