<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :translate %><br>
    <%= f.text_field :translate %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :author_nickname %><br>
    <%= f.text_field :author_nickname %>
  </div>
  <div class="field">
    <%= f.label :age_year %><br>
    <%= f.number_field :age_year %>
  </div>
  <div class="field">
    <%= f.label :age_month %><br>
    <%= f.number_field :age_month %>
  </div>
  <div class="field">
    <%= f.label :gendar %><br>
    <%= f.text_field :gendar %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :adopted %><br>
    <%= f.check_box :adopted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
