<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Translate:</strong>
  <%= @word.translate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @word.comment %>
</p>

<p>
  <strong>Author nickname:</strong>
  <%= @word.author_nickname %>
</p>

<p>
  <strong>Age year:</strong>
  <%= @word.age_year %>
</p>

<p>
  <strong>Age month:</strong>
  <%= @word.age_month %>
</p>

<p>
  <strong>Gendar:</strong>
  <%= @word.gendar %>
</p>

<p>
  <strong>Message:</strong>
  <%= @word.message %>
</p>

<p>
  <strong>Adopted:</strong>
  <%= @word.adopted %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
