// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin debug ($color) {
  //background-color: $color;
  //border: 1px solid $color;
}

@mixin char-box ($width: 200px, $height: 200px) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;;
  border: solid 3px #666;
  width: $width;
  height: $height;
}

@mixin horizontal-buttons ($space: .2rem) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    margin: 0 $space;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }
}

/* 共通設定  */
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  color: #333;
  font-size: 14px;
}

html,body {
  height: 100%;
}

select {
  border-radius: 3px;
}

input[type="text"] {
  border-radius: 3px;
}

textarea {
  border-radius: 3px;
}

label {
  margin-left: .3rem;
}

.progress-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  & > div {
    position: relative;
  }
  & > div img {
    width: 10rem;
    height: 10rem;
  }
}

.dialog {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;


  & > div {
    background-color: #fff;
    padding: 2rem;
    height: 90%;
    overflow: scroll;
    position: relative;
    width: 90%;
    max-width: 380px;
    &::-webkit-scrollbar {
      display: none;
    }
    .close-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      i {
        font-size: 2.5rem;
        cursor: pointer;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
    .title {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .message {
      margin-bottom: 1rem;
    }
    .error-message {
      color: #ff3366;
    }
    .form-group {
      margin: 1.5rem 0;

      label:first-child {
        font-weight: bold;
        display: block;
        margin-bottom: .2rem;
      }
    }
    input[type="text"] {
      width: 100%;
    }
    .buttons {
      @include horizontal-buttons();
      margin-top: 1rem;
    }
  }
}

.error-page {
  .title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: magenta;
  }
  .message {
    text-align: center;
    color: violet;
  }
  .logout {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.link:hover, .link:focus {
  color: #23527c;
  text-decoration: underline;
}
