.container {
  margin: 0 auto;
  height: 100%;

  /* ヘッダー */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: .5rem;
    padding-bottom: .5rem;

    /* 左側(空欄) */
    .header-left {
      flex: 1;

      .menu-icon {
        width: 2.5rem;
      }
    }

    /* タイトル */
    .header-middle {
      flex: 2;
      text-align: center;
      font-family: "Rounded Mplus 1c";
      font-weight: bold;
      font-size: 1.5rem;
    }

    /* ログイン */
    .header-right {
      flex: 1;
      text-align: right;
      font-weight: bold;
    }

    /* メニューアイコン */
  }

  /* フッター */
  footer {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  /* 左、右、メインブロックの入れ物 */
  .blocks {
    display: flex;
    height: 90%;

    > div {
      padding: 1rem 1.5rem 1rem 1.5rem;
    }

    /* 左ブロック  */
    .menu-block {
      flex: 1;
      border-right: solid 2px #ccc;

      .under-construction {
        @include char-box(150px, 150px);
      }
    }

    /* 右ブロック  */
    .info-block {
      flex: 1;
      border-left: solid 2px #ccc;

      .affiliate {
        @include char-box(150px, 150px);
      }
    }
  }

  /* メインブロック  */
  .main-block {
    flex: 2;
    position: relative;

    /* 絞り込み、ソートボタン */
    .filter-sort-buttons {
      @include horizontal-buttons(.5rem);
      margin-bottom: 1rem;
    }

    /* ことば */
    .babyword {
      text-align: center;
      margin-top: .5rem;
      font-size: 2rem;
      font-weight: bold;
      font-family: "Rounded Mplus 1c";
    }

    /* 投稿者 */
    .author {
      text-align: right;
    }

    /* 通報, 編集リンク */
    .word-link {
      text-align: right;
    }

    .word-link .link {
      display: none;
    }

    /* 編集リンク */
    .word-link #edit {
      color: #17BF63;
    }

    /* 年齢、性別 */
    .age-gendar {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .gendar {
        margin-left: 1rem;
      }
    }

    /* 訳 */
    .translate {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    /* 説明 */
    .comment {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    /* ボタンエリア */
    .main-buttons {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem 1.5rem 1rem 1.5rem;

      .paging-buttons {
        @include horizontal-buttons(.2rem);
        margin-top: 1rem;
      }

      .paging-buttons button:first-child {
        flex-shrink: 3;
      }

      .paging-buttons button:last-child {
        flex-shrink: 3;
      }

      button {
        margin-top: 1rem;
      }
    }

    .affiliate {
      @include char-box(200px, 200px);
    }
  }

  /* このサイトについてダイアログ */
  .about-dialog {
    .body p.overview {
      color: hotpink;
      text-indent: 0;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .body p {
      text-indent: 1rem;
      margin: 1rem 0;
    }
  }

  /* 投稿完了 */
  .post-complete {
    & > div {
      .ojigi {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        img {
          width: 150px;
        }
      }

      .sns-title {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .sns-row {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        .sns-block {
          text-align: center;
        }

        .sns-line {
          img {
            height: 30px;
          }
        }

        .sns-twitter {
          img {
            height: 31px;
          }
        }
      }
    }
  }

  /* 利用規約ダイアログ */
  .agreement-dialog {
    .body {
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1.2em;
      }
      ul {
        -webkit-padding-start: 1.5em;
      }
      ul li {
        list-style: outside decimal;
      }
      ul li ul {
        -webkit-padding-start: .5em;
      }
      ul li ul li {
        list-style: outside none;
        text-indent: -1em;
      }
      ul.child li {
        list-style: outside none;
        text-indent: -1em;
      }
      .ijou {
        text-align: right;
      }
    }
    .confirm {
      text-align: center;
    }
  }
}

/* メニュー */
.menu {
  div {
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
    &:active {
      transform: translateY(2px);
    }
    i {
      margin-right: .5em;
    }
  }
}

/* スマホ固有スタイル */
@media only screen and (max-width: 767px) {
  .container {
    .blocks {
      /* 左, 右ブロック非表示 */
      .menu-block, .info-block {
        display: none;
      }
    }
    .header {
      .header-left {
        text-align: left;

        /* メニューアイコン表示 */
        .menu-icon {
          display: inline-block;
        }
      }
    }
    .menu {
      font-size: 1.5rem;
      margin-top: 3rem;
    }
  }
}

/* PC固有スタイル */
@media only screen and (min-width: 768px) {
  .container {
    .header {
      .header-left {
        text-align: center;

        /* メニューアイコン非表示 */
        .menu-icon {
          display: none;
        }
      }
    }
    .menu {
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }
  }
}
