<h1>Listing words</h1>

<table id="words-table">
  <tr>
    <th>Word</th>
    <th>Translate</th>
    <th>Comment</th>
    <th>Author nickname</th>
    <th>Age year</th>
    <th>Age month</th>
    <th>Gendar</th>
    <th>Message</th>
    <th>Adopted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Word</a>