<h1>New word</h1>

<form id="new-word" name="word">
  <div class="field">
    <label for="word"> word:</label>
    <input type="text" name="word" id="word" value="<%= word %>" >
  </div>

  <div class="field">
    <label for="translate"> translate:</label>
    <input type="text" name="translate" id="translate" value="<%= translate %>" >
  </div>

  <div class="field">
    <label for="comment"> comment:</label>
    <input type="text" name="comment" id="comment" value="<%= comment %>" >
  </div>

  <div class="field">
    <label for="author_nickname"> author_nickname:</label>
    <input type="text" name="author_nickname" id="author_nickname" value="<%= author_nickname %>" >
  </div>

  <div class="field">
    <label for="age_year"> age_year:</label>
    <input type="text" name="age_year" id="age_year" value="<%= age_year %>" >
  </div>

  <div class="field">
    <label for="age_month"> age_month:</label>
    <input type="text" name="age_month" id="age_month" value="<%= age_month %>" >
  </div>

  <div class="field">
    <label for="gendar"> gendar:</label>
    <input type="text" name="gendar" id="gendar" value="<%= gendar %>" >
  </div>

  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="field">
    <label for="adopted"> adopted:</label>
    <input type="text" name="adopted" id="adopted" value="<%= adopted %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Word" />
  </div>

</form>

<a href="#/index">Back</a>