<p>
  <b>Word:</b>
  <%= word %>
</p>

<p>
  <b>Translate:</b>
  <%= translate %>
</p>

<p>
  <b>Comment:</b>
  <%= comment %>
</p>

<p>
  <b>Author nickname:</b>
  <%= author_nickname %>
</p>

<p>
  <b>Age year:</b>
  <%= age_year %>
</p>

<p>
  <b>Age month:</b>
  <%= age_month %>
</p>

<p>
  <b>Gendar:</b>
  <%= gendar %>
</p>

<p>
  <b>Message:</b>
  <%= message %>
</p>

<p>
  <b>Adopted:</b>
  <%= adopted %>
</p>


<a href="#/index">Back</a>