<td><%= word %></td>
<td><%= translate %></td>
<td><%= comment %></td>
<td><%= author_nickname %></td>
<td><%= age_year %></td>
<td><%= age_month %></td>
<td><%= gendar %></td>
<td><%= message %></td>
<td><%= adopted %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
