<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if user_signed_in? %>
<% # この値をJavaScript経由でAPIに送ることで、サーバ側でセッション切れなのか非会員なのかを判定するのに利用する。 %>
<body data-signed-in="1">
<% else %>
<body data-signed-in="0">
<% end %>

<%= yield %>

</body>
</html>
